# Bundler cache
.bundle
vendor

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site
_app

# RubyGems
*.gem

# NPM dependencies
node_modules

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Misc
.DS_Store
.frontmatter/
mockup.html
_sass/dist
assets/js/dist

# Env
.env
scripts/node_modules/
publish.command
